@charset "utf-8";

body {
    background-color: #9b30ff;
    font-family: Arial, Tahoma, sans-serif;
    color: #000000;
}

h1 {
    color: #ffffff;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 5px;
    width: 90%;
    margin-left: 5%;
}

#container {
    width: 100%;
}

main {
    width: 90%;
    background-color: #ffffff;
    float: left;
    padding: 5px;
    margin-left: 5%;
}

footer {
    clear: both;
    background-color: #9b30ff;
    color: #ffffff;
    text-align: center;
    margin-left: 10%;
    padding: 5px;
    font-size: 12pt;
    width: 80%;
}

footer p a {
    font-weight: normal;
    color: #ffffff;
    font-size: .9em;
}

footer ul li a:link,
footer ul li a:visited {
    background-color: #9b30ff;
    color: #ffffff;
    font-size: .9em;
}

body nav {
    color: #000000;
    padding: 5px;
    width: 80%;
    margin-left: 10%;
    font-weight: bold;
}

nav ul {
    list-style: none;
}

nav ul li {
    float: left;
    padding: 8px;
}

nav ul li a:link,
nav ul li a:visited {
    display: block;
    width: 175px;
    margin-right: 4px;
    color: #000000;
    padding: 2px 4px 2px 4px;
    background-color: #dfffff;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #30cfff;
    border-radius: 15px;
}

/* table */

table {
    width: 100%;
    background-color: #00ffff;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table caption {
    font-weight: bold;
    text-align: left;
    font-size: 1em;
    padding: 5px;
}

table th {
    text-align: left;
    border: 1px solid #000000;
    padding: 5px;
}

table tr:hover {
    background-color: #00f0ff
}

table td {
    border: 1px solid #000000;
    padding: 5px;
}

/* general classes */
.boldtext {
    font-weight: bold;
}

.italictext {
    font-style: italic;
}

.smallertext {
    font-size: smaller;
}


/* menu */

#pizza-id caption {
    font-size: xx-large;
}


/* history */
.history {
    background-color: #d3d3d3;
    padding: 15px;
}